---
# http://zanshin.net/2013/09/03/how-to-use-homebrew-zsh-instead-of-max-os-x-default/
- name: configure /etc/shells
  lineinfile:
    line: /usr/local/bin/zsh
    dest: /etc/shells
    state: present
  become: yes
  become_method: sudo
  register: zsh_shells

# Fix broken /etc/zshenv, which runs path_helper
# We rename it to prevent unwanted reordering of $PATH
# https://github.com/sorin-ionescu/prezto/issues/381
# https://github.com/thoughtbot/dotfiles/pull/426#issue-109716011
#- name: configure /etc/zshenv
#  command: creates="/etc/zprofile" mv /etc/zshenv /etc/zprofile
#  become: yes
#  become_method: sudo
